[Unit]
Description=docker container {{ image_name }}
Requires=docker.service
Before=docker.service
[Service]
Type=simple
OOMScoreAdjust=-500
ExecStart=/usr/bin/docker run --rm -p {{ ports }} --name {{ name_container }} {{ image_name }}
ExecStop=/usr/bin/docker stop {{ name_container }}
Restart=always
[Install]
WantedBy=multi-user.target